<section class="about-index">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <div class="well">
    We sell stuff online with a forest-theme that is legally distinct from that other rainforest-themed online seller! What was it... Amaze-on? Amazonian? Oh, it doesn't matter. Jungle is going to make like a snake and wipe it off the virtual map anyways.
  </div>


</section>
